- count = ColumnSectionType.find_by_partial_name("events_for_side_column").default_count if count.blank?
- @events = Event.future[0..(count - 1)]
- unless @events.blank?
  - content_for :side_column do
    .side-column-section
      %h1= @cms_config['site_settings']['events_title']
      %ul.recent_events.list_of_links
        - for event in @events[0..count]
          %li
            %h2= link_to event.name, event_path(event)
            %span.date= event.date_and_time.strftime("%a, %B %d, %Y")
            - if show_blurb
              = event.blurb.blank? ? simple_format(truncate(h(event.description), :length => 100)) : simple_format(h(truncate(event.blurb, :length => 100)))
