- count = ColumnSectionType.find_by_partial_name("events_for_side_column").default_count if count.blank?
- @events = Event.not_yet_complete[0..(count - 1)]
- unless @events.blank?
  .side-column-section
    %h2= @cms_config['site_settings']['events_title']
    %ul.recent_events.list_of_links
      - for event in @events[0..count]
        %li
          %h3= link_to event.name, event_path(event)
          %span.date= event.date_and_time.strftime("%a, %B %d, %Y")
          - if show_blurb
            = simple_format(truncate(event.blurb, :length => 100))
